@import './theme.scss';

body {
	min-height: 72vh;
}

body, .navbar-container {
	background-color: #fff !important;
}

li, a {text-decoration: none !important}

a.hover-effect:hover,
img.hover-effect:hover,
button.hover-effect:hover {
	opacity: 0.75 !important;
}